/*-- BROWSER RESET --*/

html { width: 100%; height: 100% }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, foot, thead, tr, th, td {
    margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;
}

/*-- GENERAL --*/

body {
    color: #7A6A53;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
    padding: 10px 0;
}

a img:hover {
    opacity: 1;
}

a img {
    opacity: .8;
}

h1, h2 {
    color: #93abb0;
    text-align: center;
    font-variant: small-caps;
    padding: 10px 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.2em;
}

.clear { clear: both; }

ul {
    padding: none;
}

li {
    list-style: none;
    display: inline;
}

hr {
    width: 33%;
    margin: 20px auto;
}

p {
    padding: 10px 0;
}

/*-- NAVIGATION --*/
.nav { padding: 20px 0; }

.nav li {
    color: #7A6A53;
    font-size: 18px;
    margin: 0 9px;
    padding: 9px 9px 18px;
}

.nav li a:link{text-decoration: none; color: #93abb0;}
.nav li a:visited{text-decoration: none; color: #93abb0;}
.nav li a:hover{text-decoration: none; color: #CFDDDE;}

#project_subnav a:link{text-decoration: none;}
#project_subnav a:visited{text-decoration: none;}
#project_subnav a:hover{text-decoration: none;}

/*-- CONTENT --*/

#content {
    width: 750px;
    margin: 0 auto;
}

#content a:link{text-decoration: underlined; color: #778C8C;}
#content a:visited{text-decoration: underlined; color: #778C8C;}
#content a:hover{text-decoration: underlined; color: #8DA6A6;}

/*-- TABLES --*/

#board {
    text-align: justify;
    margin: 0 auto;
    padding: 9.96px;
}

#board td {
    padding: 5.04px 18px;
}

#board th {
    color: #5E4E36;
    font-size: 16px;
    padding-bottom: 12.45px;
    text-align: center;
    text-transform: uppercase;
}

#board a:link{text-decoration: underlined; color: #778C8C;}
#board a:visited{text-decoration: underlined; color: #778C8C;}
#board a:hover{text-decoration: underlined; color: #8DA6A6;}

.project {
    border: 1px dashed #5E4E36;
    margin-bottom: 15px;
    padding: 5px;
    text-align: center;
}

.project th {
    font-size: 15px;
    width: 50%;
}

.project td {
    vertical-align: middle;
}

.descrip {
    padding-right: 10px;
}

.email {
    width: 25%;
}

#project_subnav table {
    font-size: 13px;
    margin: 0 auto;
    text-align: center;
}

#project_subnav td {
    padding: 0 10px 15px;
}

#newsletters > ul > li {
    list-style: disc outside none;
    color: red;
    display: block;
}
footer {
    font-style: italic;
    margin: 10px 0 0 0;
    padding: 5px 0;
}
