.navbar {
    background-color: #095aa6;
}

.navbar-brand {
    color: #fff;
}
.navbar-brand.a {
    color:#fff;   
}
.navbar-brand:hover {
    color:#fff;
    background-color: #b5cde4;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-toggle.icon-bar:hover {
    background-color: #b5cde4;   
}

.nav>li>a {
    color:#fff;
}

.nav>li>a:hover {
    color: white;
    background-color: #b5cde4;
}

#selected {
    background-color: #b5cde4;
}

.jumbotron {
    color:#000;
    background-color: white;
}
.img-responsive {
    margin: 0 auto;
}


.btn-default {
    color:#fff;
    background-color: #095aa6;
}

.btn-default:hover {
    color:#fff;
    background-color: #b5cde4;
}

.rot90 {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.fb-like iframe {
    max-width: inherit;
    max-height: inherit;
}